body
  background-color #f1f1f1
  color #444
  font-family "Microsoft YaHei", arial, Verdana, "宋体"
  font-size 14px
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, lable, p, input, img
  margin 0
  list-style none
  padding 0
  border 0
address, caption, cite, code, dfn, em, b, i, th, var,strong
  font-weight normal
  font-style normal
a
  text-decoration none
  cursor pointer
  &:link
    color #444
    text-decoration none
  &:visited
    color #444
    text-decoration none
  &:hover
    color #444
    text-decoration underline
  &:focus
    outline none
input
  outline none
  &::-webkit-input-placeholder
    color #888
    font-size 16px
  &::-moz-placeholder
    color #888
    font-size 16px
  &:-ms-input-placeholder
    color #888
    font-size 16px
  &:-moz-placeholder
    color #888
    font-size 16px
.font_num
  font-family Helvetica, Georgia, Arial, sans-serif
.font_gray
  color #888
input,textarea
  font-family "Microsoft YaHei", arial, Verdana, "宋体"
/* firefox 19+ */
/* ie */
/*清除浮动*/
.clearfix:after, .clearfix:before
  display table
  content ""
.clearfix
  &:after
    clear both
    overflow hidden

.section
    overflow hidden
